<marquee>
    <h1><strong>Welcome to the Travel Destinations Page!</strong></h1>
</marquee>
<div align="center">
    
    <ul style="list-style: none;">

         <div class="tooltip">
            <span class="tooltiptext">Japan</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/japan.jpg" class="glightbox">
                    
                    <img style="height: 325px; width: 350px;" src="./assets/img/japan.jpg" alt="image" />
                    
                        <a href="https://www.japan.travel/en/us/">Visit Japan!</a>
                    
                

                </a>
            </li>
        </div>

        <div class="tooltip">
            <span class="tooltiptext">NY</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/NY.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/NY.jpg" alt="image" />
                    
                    <a href="https://www.nycgo.com/">Visit New York!</a>
                    

                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Hawaii</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/Hawaii.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/Hawaii.jpg" alt="image" />
                    <a href="https://www.gohawaii.com/">Visit Hawaii!</a>

                    
                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Rio De Janeiro</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/riodejaneiro.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/riodejaneiro.jpg" alt="image" />
                    <a href="https://www.riodejaneiro.com/">Visit Rio De Janeiro!</a>


                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Beijing</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/greatwall.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/greatwall.jpg" alt="image" />
                    <a href="https://www.travelchinaguide.com/cityguides/beijing.htm">Visit Beijing!</a>


                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Caribbean</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/carribean.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/carribean.jpg" alt="image" />
                    <a href="https://www.fodors.com/world/caribbean">Visit Caribbean!</a>


                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Dubai</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/Dubai.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/Dubai.jpg" alt="image" />
                    <a href="https://www.visitdubai.com/en/">Visit Dubai!</a>

                    
                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Sedona, AZ</span>
            <li style="float: left; margin: 5px;">

                <a href="./assets/img/sedona.jpg" class="glightbox">

                    <img style="height: 325px; width: 350px;" src="./assets/img/sedona.jpg" alt="image" />
                    <a href="https://visitsedona.com/">Visit Sedona, AZ!</a>


                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Orlando, FL</span>
            <li style="float: left; margin: 5px;">
    
                <a href="./assets/img/land.jpg" class="glightbox">
    
                    <img style="height: 325px; width: 350px;" src="./assets/img/land.jpg" alt="image" />
                    <a href="https://www.visitorlando.com/">Visit Orlando, FL!</a>


                </a>
            </li>
        </div>
        <div class="tooltip">
            <span class="tooltiptext">Thailand</span>
            <li style="float: left; margin: 5px;">
    
                <a href="./assets/img/Thailand.jpg" class="glightbox">
    
                    <img style="height: 325px; width: 350px;" src="./assets/img/Thailand.jpg" alt="image" />
                    <a href="https://theplanetd.com/destinations/south-east-asia/thailand-travel-tips/">Visit Thailand!</a>


                </a>
            </li>
        </div>

    </ul>
</div>